body {
    background-image: url("./recipes/images.png");
    background-size: cover;;

  }

.link{
    display: block;
    text-align: center;
    margin-top: 25%;
}
.back{
    display: block;
    text-align: center;
    margin-top: 5%;
}
.ch1{
    margin-bottom: 10%;
    text-align: center;
    color: aliceblue;
}
.ch2{
    margin-bottom: 10%;
    text-align: center;
    color: aliceblue;
    
}
.ch3{
    margin-bottom: 10%;
    text-align: center;
    color: aliceblue;
    color:white;
    
}


audio {
  display: none;
}

.audio-player {
    position: relative;
    display: inline-block;
  }
  
  audio {
    display: none;
  }
  
.audio-player {
    position: absolute;
    top: 28%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    box-sizing: border-box;
  }


.audio{
    text-align: center;

}

  audio::-webkit-media-controls-enclosure {
    background-color: wheat;;
  }
  